.navBtn {
    width: 40px;
    height: 40px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.nav-icon {
    width: 20px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    content: '';
    background-color: black;
    display: block;
    height: 2px;
    margin: 7px 0;
    transition: all .3s;
}

.navBtn:hover .nav-icon:before {
    transform: translateY(9px) rotate(135deg);
}

.navBtn:hover .nav-icon:after {
    transform: translateY(-9px) rotate(-135deg);
}

.navBtn:hover .nav-icon div {
    transform: scale(0);
}

.loginBtn {
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
    width: 100px;
    height: 30px;
    background-color: gray;
}

.loginBtn div {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
}

.loginBtn::before {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 1px;
    background-color: yellow;
    z-index: 20;
    opacity: 0;
    transition: opacity .2s, height .3s, width .3s .3s;
}

.loginBtn:hover::before {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0%;
}

.genderLabel {
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
}

.genderRadio {
    display: none;
}

.specialRadio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid blue;
    border-radius: 50%;
    margin-right: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.specialRadio:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: brown;
    display: none;
}

.genderRadio:checked ~ .specialRadio:after {
    display: block;
}







