.demo {
    animation: left-to-right 4s infinite;
    background: #3991AE;
    border-radius: 50%;
    height: 3rem;
    margin: 2rem 0rem 2rem 5rem;
    width: 3rem;
  }

  .linear {
    animation-timing-function: linear;
  }
  
  .ease-in {
    animation-timing-function: ease-in;
  }
  
  .ease-out {
    animation-timing-function: ease-out;
  }
  
  .ease-in-out {
    animation-timing-function: ease-in-out;
  }
  
  .cubic-bezier {
    animation-timing-function: cubic-bezier(.5,-.5,.5,1.5);
  }
  
  .steps {
    animation-timing-function: steps(3);
  }
  
  
  @keyframes left-to-right {
    0% {
      transform: none;
    }
    50% {
      transform: translateX(50rem);
    }
    100% {
      transform: none;
    }
  }
  