body {
  background: #EAE3CB;
}

ul {
  margin: 0 auto;
  margin-top:50px;
  padding: 0;
  width: 320px;
}

ul li {
  list-style: none;
  display: inline-block;
}


#art ul li {
    cursor: pointer;
}

#art {
  width: 320px;
  margin: 0 auto;

}

#art h2 {
  font-size: 2em;
  color: #A57706;
  margin-bottom: 0;
}

ul li img {
  width: 100px;
  border: 1px solid #FCF4DC;
}